<!DOCTYPE html>
<html>
<head>
<link rel = "stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body >

<div id = 'instructions' >
	{%if mode == 'b' %}
	<div class = " faded-text " id = "first" > I will say a sentence and you'll have to tell me </div>
	<div class = "faded-text" id = "second" > which emotion this sentence transmit, between  </div>
	<div class = "faded-text" id = "third" > happyness, sadness, anger or surprise </div>
	{%else%}
	<div class = " faded-text " id = "first" > I will give you an emotion and you'll have to tell me  </div>
	<div class = "faded-text" id = "second" > a sentence that describe that emotion. The better the sentence,  </div>
	<div class = "faded-text" id = "third" > the highest points you will get !</div>
	{% endif %}

</div>
<div id = "sided">
<form action = "/instructions" method = "POST">
	<input name = "repeat" style="display:none"></input>
	<input name = "mode" style="display:none"></input>
	<input type = "submit" class="button sided" value = "REPEAT" />
</form>

<form action = "/quiz" method = "POST">
	<input name = "number" style="display:none"></input>
	<input name = "mode" style="display:none"></input>
	<input name = "numQuiz" style = "display:none"></input>
	<input type = "submit" class="button sided" value = "PLAY!" />
</form>
</div>

<a href = "/settings" class="button getBack"> Settings </a>

</body>
<script>
if (localStorage.getItem('start') != true){ localStorage.setItem('start', true);}

var bckgrndColor = localStorage.getItem("background");
document.getElementsByTagName("body")[0].style = 'background-color:'.concat(bckgrndColor);

var buttonColor = localStorage.getItem("button");
var button = document.getElementsByClassName("button")
Array.prototype.forEach.call(button, function(el){el.style = 'background-color:'.concat(buttonColor);});

document.getElementsByName("repeat")[0].value = "true";
Array.prototype.forEach.call(document.getElementsByName("mode"), function(el){el.value = localStorage.getItem('mode');});
document.getElementsByName("number")[0].value = 1;
document.getElementsByName("numQuiz")[0].value = localStorage.getItem('numQuiz');
</script>
</html>
