<!DOCTYPE html>
<html>
<head>
<title> Emotion Game - HRI project </title>
<link rel = "stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel = "shortcut icon" href = "{{ url_for('static', filename='img/favicon.ico') }}">
</head>
<body>

	{% if mode == 'a' %}
		<h1 class="text" style = "font-size: 100px" > YOUR SCORE IS {{score}} </h1>
		{% if score >= 7 %}
		<h1 class="text" style = "font-size: 100px" > THE ANSWER IS CORRECT, GOOD JOB {{name}}! </h1>
		{% elif score >= 5 and score < 7 %}
		<h1 class="text" style = "font-size: 100px" > NOT BAD {{name}}! </h1>
		{% else %}
		<h1 class="text" style = "font-size: 100px" > OH NO! YOU WILL DO BETTER NEXT TIME </h1>
		{% endif %}
	{% elif mode == 'b' %}
		{% if score == 1 %}
		<h1 class="text" style = "font-size: 100px" > THE ANSWER IS CORRECT, GOOD JOB {{name}}! </h1>
		{% else %}
		<h1 class="text" style = "font-size: 100px" > THE ANSWER SEEMS TO BE UNCORRECT </h1>
		<h1 class="text" style = "font-size: 100px" > THE CORRECT ANSWER WAS {{correct}} </h1>
		{% endif %}
	{% else %}
		<h1 class="text" style = "font-size: 100px" > ERROR MODE </h1>
	{% endif %}

	<div class = 'row'>
	<a href = '/quiz' class="button submit">CONTINUE</a>
	</div>	
</body>
<script>
var bckgrndColor = localStorage.getItem("background");
document.getElementsByTagName("body")[0].className = bckgrndColor;

var buttonColor = localStorage.getItem("button");
var button = document.getElementsByClassName("button");
Array.prototype.forEach.call(button, function(el){el.classList.add(buttonColor);});

document.getElementsByName("mode")[0].value = localStorage.getItem('mode');
document.getElementsByName("numQuiz")[0].value = localStorage.getItem('numQuiz');
</script>
</html>
