<!DOCTYPE html>
<html>
<head>
<title> Emotion Game - HRI project </title>
<link rel = "stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel = "shortcut icon" href = "{{ url_for('static', filename='img/favicon.ico') }}">
<link rel = "stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div id = "container ">
<h1 class="title"> Welcome to the Emotion Game</h1>
<div class = "welcome_buttons">
<!--<a href="/start" class = "button button_welcome">Start</a>-->

<form action = '/start' method = "POST" >
	<input name = "mode" style="display:none"></input>
	<input name = "numQuiz" style="display:none"></input>
	<input class="button button_welcome"  type = "submit" value = "Start" />
</form>

<form action = '/settings' method = "POST" >
	<input name = "start" style="display:none" value = "false" ></input>
	<input class="button button_welcome"  type = "submit" value = "Settings" />
</form>
</div>
</body>

<script>
localStorage.setItem('start', false);

if(localStorage.getItem("background") == null){
	//var bckgrndColor ="LightBlue";
	var bckgrndColor ="blueClass";
	localStorage.setItem('background',bckgrndColor);}
else{
	var bckgrndColor = localStorage.getItem("background");	
}

if(localStorage.getItem("button") == null){
	var buttonColor ="blueClassButton";
	localStorage.setItem('button',buttonColor);}
else{
	var buttonColor = localStorage.getItem("button");
}

if(localStorage.getItem("mode") == null){
	localStorage.setItem("mode", 'b');
}

if(localStorage.getItem("numQuiz") == null){
	localStorage.setItem("numQuiz", 2);
}

document.getElementsByTagName("body")[0].className = bckgrndColor;

var button = document.getElementsByClassName("button");
Array.prototype.forEach.call(button, function(el){el.classList.add(buttonColor);});

document.getElementsByName("mode")[0].value = localStorage.getItem("mode");
document.getElementsByName("numQuiz")[0].value = localStorage.getItem("numQuiz");
console.log(document.getElementsByName("mode")[0].value);
console.log(document.getElementsByName("numQuiz")[0].value)
</script>
</html>
