.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 40px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button2{
  width : 35%;
  height: 500px;
}

.button3{
  width : 25%;
  height: 500px;
}

.button_setting{
  border-radius: 50%;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.row{
  text-align:center;
  /*the same margin which is every button have, it is for small screen, and if you have many buttons.*/
  margin-left:-20px;
  margin-right:-20px;
  margin-top: 200px;
}

.text{
  text-align: center;
  font-size: 24px;
}
