/* FONTS */

@font-face{
	font-family: cogeen;
	src: url('Cogeen.otf');
}

@font-face{
	font-family: fedoka;
	src: url('FredokaOne-Regular.ttf');
}

/* BODY */

body{
	height: 100%;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

/* IDS */
#container{
	width: 100%;
	height: 100%;
}

#instructions{
	width : 60%;
	height: 80%;
	margin-top:5%;
	margin-left: 5%;
	display: block;
	align-items: center;
	justify-content: center;
}

#sided{
	width : 20%;
	display : block;
	align-items: center;
	justify-content: center;
	position: absolute;
	top:200px;
	left: 75%;
	right: 10px;
	margin:0;	
}
/* animations ids */
#first{animation-delay : 0s;}

#second{
	animation-delay : 2s;
	-moz-animation-fill-mode: backwards;
	animation-fill-mode: backwards;}

#third{
	animation-delay : 4s;
	-moz-animation-fill-mode: backwards;
	animation-fill-mode: backwards;
}

/* keyboard ids */
#keyboard_container {
	margin: 100px auto;
	margin-top: 30px;
	width: 98%;
}

#space.key{
	width: 300px;
}

/* CLASSES */

/* general */

.button {
  display: inline-block;
  
  font-size: 40px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  border-radius: 15px;
  font-family: fedoka;
  margin: 0 auto;
}

.button:hover {
	background-color: #3e8e41;
	box-shadow: 0 9px #999;
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.blueClass{
	background: rgb(106,238,240);
	background: linear-gradient(0deg, rgba(106,238,240,1) 0%, rgba(100, 224, 131, 1) 100%) fixed;
}

.redClass{
	background: rgb(224, 150, 100);
	background: linear-gradient(0deg, rgba(236,216,111,1) 0%, rgba(224, 150, 100, 1) 100%) fixed;
}

.redClassButton{
	background: rgb(247,236,2);
	background: radial-gradient(circle, rgba(247,236,2,1) 0%, rgba(236,12,12,1) 100%);
}

.blueClassButton{
	background: rgb(0,255,98);
	background: radial-gradient(circle, rgba(0,255,98,1) 13%, rgba(0,25,121,1) 100%);
}

.submit{
	width: 300px;
	height: 100px;
	line-height: 100px;
}

.row{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  width : 100%;
  height:300px;
}

.rowSubmit{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  width : 100%;
  height:150px;
}


.text{
  text-align: center;
  font-size: 80px;
  font-family: fedoka;
}

.title{
	font-size: 100px;
	text-align:center;
	font-family: cogeen;
	font-weight: bold;
	color: black;
}

/* welcome */

.welcome_buttons{
	margin-top:300px;
}

.button_welcome{
  padding: 15px 25px;
  display:block;
  margin-top: 100px;
  font-size : 80px;
  width : 40%;

}

/* settings*/ 

.setting{
	margin-top: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.buttonSetting{ /* div */
	display: flex;
	align-items: center;
	justify-content: center;
	float: left;
	width: 50%;
}

.settingButton{ /* buttons */
	height: 150px;
	width: 150px;
}

.getBack{
	position: absolute;
	top: 10px;
	right: 10px;
	width: 200px;
	height: 100px;
	text-align:center;
	margin: 0;
  	line-height: 100px;
}

.textSetting{
	text-align: center;
	font-family: fedoka; 	
	float: left;
	width: 50%;
	font-size: 60px;
	
}

.colorButton{
  cursor: pointer;
  border: 1px solid black;
  border-radius: 15px;
  width: 150px;
  height: 150px;
}

.colorRed{
	background-image: linear-gradient(to right, #FFFF66 0%, #FFFF33 26%, #FF9933 51%, #FF3333 76%, #990000 100%);
}

.colorBlue{
	background-image: linear-gradient(to right, #99FF33 0%, #00FF00 26%, #00CC66 51%, #009999 76%, #003366 100%);
}



/* choice2 and quiz2 */
.button2{
  margin: 0;
  line-height: 300px;
  width : 500px;
  height: 300px;
  text-align: center;
  margin-left: 50px;
  font-size: 100px;
}

/* quiz3 */
.button3{
  width : 500px;
  height: 300px;
  font-size: 100px;
  text-align: center;
  line-height: 300px;
  margin:0;
  margin-left : 10px;
}

/* quiz4 */
.button4{
  width: 350px;
  height: 350px;
  font-size: 200px;
  text-align: center;
  line-height: 300px;
  margin-left: 50px;
  border-radius: 175px;
  margin-top: 300px;
}

/* instructions */

.sided{
	height: 300px;
	width: 300px;
	margin-top: 20px;
	text-align:center;
	line-height:150px;
	animation: fadeIn linear 3s;
	-moz-animation : fadeIn linear 3s;
	animation-delay : 8s;
	-moz-animation-fill-mode: backwards;
	animation-fill-mode: backwards;
}

/* gesture detection */

.video{
	margin-top: 50px;
	width: 100%;
	height: 600px;
	display: flex;
	align-items: center;
  	justify-content: center;
}

.videoImg{
	width: 50%;
	height: 100%;
	border: 8px solid;
	border-width: 20px;
	border-radius: 15px;
}

.redVideo{
		border-image: repeating-radial-gradient(
			circle at 10px,
			#FFFF66,
			#FFFF33 2px,
			#FF9933 4px,
			#FF3333 4px,
			#990000 2px
		)
		1;}
.blueVideo{
border-image: repeating-radial-gradient(
			circle at 10px,
			#99FF33,
			#00FF00 2px,
			#00CC66 4px,
			#009999 4px,
			#003366 2px
		)
		1;}

/* keyboard */
.row1 {
	display: flex;
	align-items: center;
	justify-content: center;
	float: left;
	width: 100%;
	margin-top : 50px
}
.row2 {
	display: flex;
	align-items: center;
	justify-content: center;
	float: left;
	width: 80%;
	margin-left: 10%;
	margin-top: 10px;
}

.row3 {
	display: flex;
	align-items: center;
	justify-content: center;
	float: left;
	width: 80%;
	margin-left : 10%;
	margin-top:10px;
}

.key{
	width: 150px;
	height: 150px;
}



.uname {
	font-family:fedoka;
	font-size: 80px;
	width: 100%;
	height: 150px;
	text-align:center;
}



/* animations */

.faded-text{
	font-family : fedoka;
	font-size: 80px;
	text-align: center;
	animation: fadeIn linear 3s;
	-moz-animation : fadeIn linear 3s;
}

@-moz-keyframes fadeIn{
	
	0% {opacity:0};
	100% {opacity:1};
}

@keyframes fadeIn{
	
	
	0% {opacity:0};
	100% {opacity:1};
}



/* pop-ups */

.open-info{
	position: fixed;
	top: 10px;
	left: 10px;
	width: 50px;
	border-radius:25px;
}
.popup{
	display:none;
	width: 99%;
	height: 97%;
	position:fixed;
	top : 10px;
	left: 10px;
	font-size: 50px;
	text-align: center;
	font-family: fedoka;
	background-color: Gray;
	color: white;
}
.close-info{
	position:fixed;
	top: 20px;
	left: 20px;
	background-color:red;
	font-size: 24px;
	font-family: fedoka;
	color: white;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	cursor: pointer;
}

/* loading */

.loading{
	display : none;
	align-items: center;
	justify-content: center;
	margin: 0;
	line-height: 500px;
	width: 100%
	height: 80%;
	cursor: wait;
}
