/* fonts */

@font-face{
	font-family: cogeen;
	src: url('Cogeen.otf');
}

@font-face{
	font-family: fedoka;
	src: url('FredokaOne-Regular.ttf');
}


/* ids */

#instructions{
	width : 60%;
	height: 80%;
	margin-top:5%;
	margin-left: 5%;
	display: block;
	align-items: center;
	justify-content: center;
}

#sided{
	width : 20%;
	display : block;
	align-items: center;
	justify-content: center;
	position: absolute;
	top:200px;
	left: 75%;
	right: 10px;
	margin:0;
	
}

/* classes */

/* divs */
.welcome_buttons{
	margin-top:300px;
}

.setting{
	margin-top: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.buttonSetting{
	display: flex;
	align-items: center;
	justify-content: center;
	float: left;
	width: 50%;
}

.textSetting{
	text-align: center;
	font-family: fedoka; 	
	float: left;
	width: 50%;
	font-size: 60px;
	
}


/* buttons */

.button {
  display: inline-block;
  
  font-size: 40px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  border-radius: 15px;
  font-family: fedoka;
  margin: 0 auto;
}

.button2{
  margin: 0;
  line-height: 300px;
  width : 500px;
  height: 300px;
  text-align: center;
  margin-left: 50px;
  font-size: 100px;
}

.button3{
  width : 500px;
  height: 300px;
  font-size: 100px;
  text-align: center;
  line-height: 300px;
  margin:0;
  margin-left : 10px;
}

.button_welcome{
  padding: 15px 25px;
  display:block;
  margin-top: 100px;
  font-size : 80px;
  width : 40%;

}

.button:hover {
	background-color: #3e8e41;
	box-shadow: 0 9px #999;
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.getBack{
	position: absolute;
	top: 10px;
	right: 10px;
	width: 200px;
	height: 100px;
	text-align:center;
	margin: 0;
  	line-height: 100px;
}

.colorButton{
  cursor: pointer;
  border: 1px solid black;
  border-radius: 15px;
  width: 150px;
  height: 150px;
}

.colorRed{
	background: linear-gradient(-60deg, red 50%, yellow 50%);
}

.colorBlue{
	background: linear-gradient(-60deg, blue 50%, green 50%);
}

.settingButton{
	height: 150px;
	width: 150px;
}

.sided{
	height: 300px;
	width: 300px;
	margin-top: 20px;
	text-align:center;
	line-height:300px;
	animation: fadeIn linear 3s;
	-moz-animation : fadeIn linear 3s;
	animation-delay : 8s;
	-moz-animation-fill-mode: backwards;
	animation-fill-mode: backwards;
}

/* text */ 

.row{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  width : 100%;
  height:300px;
}

.text{
  text-align: center;
  font-size: 24px;
  font-family: fedoka;
}

.title{
	font-size: 100px;
	text-align:center;
	font-family: cogeen;
	font-weight: bold;
	color: black;
}

/* keyboard */
.row1 {
	display: flex;
	align-items: center;
	justify-content: center;
	float: left;
	width: 100%;
	margin-top : 50px
}
.row2 {
	display: flex;
	align-items: center;
	justify-content: center;
	float: left;
	width: 80%;
	margin-left: 10%;
	margin-top: 10px;
}

.row3 {
	display: flex;
	align-items: center;
	justify-content: center;
	float: left;
	width: 80%;
	margin-left : 10%;
	margin-top:10px;
}

.key{
	width: 150px;
	height: 150px;
}

#space.key{
	width: 300px;
}

.uname {
	font-family:fedoka;
	font-size: 80px;
	width: 100%;
	height: 150px;
	text-align:center;
}

#keyboard_container {
	margin: 100px auto;
	margin-top: 30px;
	width: 98%;
}

/* animations */

.faded-text{
	font-family : fedoka;
	font-size: 80px;
	text-align: center;
	animation: fadeIn linear 3s;
	-moz-animation : fadeIn linear 3s;
}

@-moz-keyframes fadeIn{
	
	0% {opacity:0};
	100% {opacity:1};
}

@keyframes fadeIn{
	
	
	0% {opacity:0};
	100% {opacity:1};
}

#first{animation-delay : 0s;}
#second{
	animation-delay : 2s;
	-moz-animation-fill-mode: backwards;
	animation-fill-mode: backwards;}
#third{
	animation-delay : 4s;
	-moz-animation-fill-mode: backwards;
	animation-fill-mode: backwards;
}

/* POP UPS */

.open-info{
	position: fixed;
	top: 10px;
	left: 10px;
	width: 50px;
	border-radius:25px;
}
.popup{
	display:none;
	position:fixed;
	top : 0px;
	left: 0px;
	background-color: black;
	color: white;
}
