<!DOCTYPE html>
<html>
<head>
<title> Emotion Game - HRI project </title>
<link rel = "stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel = "shortcut icon" href = "{{ url_for('static', filename='img/favicon.ico') }}">
</head>
<body >

<h2 class="text" style = "font-size: 80px; margin-top:100px;"> {{text}} </h2>

<div class = "row"> 
    {% if choice1_template %}
	{% if choice1_template == '/instructions' %}
	<form action = {{choice1_template}} method = "POST">
		<input name = "mode" style="display:none"></input>
		<input name = "repeat" style="display:none"></input>
		<input class="button button2" type = "submit" value = "{{choice1}}" />
	</form>
	<script> document.getElementsByName("repeat")[0].value = 'false'; </script>
	{% elif choice1_template == '/inst' %}
	<form action = {{choice1_template}} method = "POST" >
		<input name = "uname" style="display:none" value = {{name}}></input>
		<input type = "submit" class="button button2" style = "width:500px" value = "{{choice1}}" />	
	</form>
	{% elif choice1_template == '/speak' %}
	<form action = {{choice1_template}} method = "POST">
    		<input name = "get" style="display:none" value = "{{get}}" ></input>
		<input class="button button2" type = "submit" value = "{{choice1}}" />
	</form>
	{% elif choice1_template == '/quiz' %}
	<form action = {{choice1_template}} method = "POST">
		<input class="button button2" type = "submit" value = "{{choice1}}" />
	</form>
	{% endif %}
    {% else %}
    <button class = "button button2">{{choice1}}</button>
    {% endif %}
    {% if  choice2_template %}
    	<a href={{choice2_template}} class = "button button2">{{choice2}}</a>
    {% else %}
    <button class = "button button2">{{choice2}}</button>
    {% endif %}
    
</div>

<form action = '/settings' method = "POST" >
	<input name = "start" style="display:none" value = "true" ></input>
	<input class = "button getBack"  type = "submit" value = "Settings" />
</form>
</body>
<script>
if (localStorage.getItem('start') != true){ localStorage.setItem('start', true);}

var bckgrndColor = localStorage.getItem("background");
document.getElementsByTagName("body")[0].className = bckgrndColor;

var buttonColor = localStorage.getItem("button");
var button = document.getElementsByClassName("button")
Array.prototype.forEach.call(button, function(el){el.classList.add(buttonColor);});

Array.prototype.forEach.call(document.getElementsByName("mode"), function(el){el.value = localStorage.getItem("mode")});

document.getElementsByName("numQuiz")[0].value = localStorage.getItem('numQuiz');

</script>
</html>
