<!DOCTYPE html>
<html>
<head>
<title> Emotion Game - HRI project </title>
<link rel = "stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel = "shortcut icon" href = "{{ url_for('static', filename='img/favicon.ico') }}">
</head>
<body>

<h1 class="text number"> {{number}} </h1>
<h1 class="text" style = "font-size: 60px" > {{text}} </h1>

<div class = "row"> 
    <form action = '/speak' method = "POST">
    		<input name = "get" style="display:none" value = "answer" ></input>
		<input class="button button2" type = "submit" value = "SPEAK" />
    </form>

    <form action = '/write' method = "POST">
		<input name = "mode" style="display:none"></input>
		<input class="button button2" type = "submit" value = "WRITE" />
    </form>
    
</div>
<button class = "button open-info" onclick = "openPopUp()">?</button>
<form action = '/settings' method = "POST" >
	<input name = "start" style="display:none" value = "true" ></input>
	<input class = "button getBack"  type = "submit" value = "Settings" />
</form>
<div class = "popup" id = "popup">
		<p> You have to tell Pepper a sentence </p>
		<p> expressing the feeling he chooses. </p>
		<p> You can either say it to him using the button SPEAK </p>
		<p> Or write it on a keyboard using the button WRITE </p>
	<button class = "close-info" onclick = "closePopUp()">X</button>
</div>

</body>
<script>
var buttonColor = localStorage.getItem("button");
var button = document.getElementsByClassName("button");
Array.prototype.forEach.call(button, function(el){el.classList.add(buttonColor);});

var bckgrndColor = localStorage.getItem("background");
document.getElementsByTagName("body")[0].className = bckgrndColor;

function openPopUp(){
	document.getElementById("popup").style.display = "block";
}

function closePopUp(){
	document.getElementById("popup").style.display = "none";
}
</script>
</html>
