<!DOCTYPE html>
<html>
<head>
<title> Emotion Game - HRI project </title>
<link rel = "shortcut icon" href = "{{ url_for('static', filename='img/favicon.ico') }}">
<link rel = "stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<h1 class="title"> Settings</h1>

<div class = "setting">
	<div class = "textSetting"> Select the game type! </div>
	<div class = "buttonSetting"> <!-- change type of game, either for autistic or for neurotypical child-->
		<button onclick = "changeMode('a')" class = "button settingButton">MODE A</button> 
		<button onclick = "changeMode('b')" class = "button settingButton">MODE B</button> 
	</div>
</div>

<div class = "setting">
	<div class = "textSetting"> Choose the color! </div>
	<div class = "buttonSetting">
		<button id = 'redButton' onclick = "changeColor('red')" class = "button colorButton colorRed"></button>
		<button id = 'blueButton' onclick = "changeColor('blue')" class = "button colorButton colorBlue"></button>
	</div>
</div>

<div class = "setting">
	<div class = "textSetting"> Select the number of questions! </div>
	<div class = "buttonSetting">
		<button onclick = "numQuiz(2)" class = "button settingButton" style = "margin-left:100px;font-size:100px;"> 2 </button>
		<button onclick = "numQuiz(3)" class = "button settingButton" style = "margin-left:100px;font-size:100px;"> 3 </button>
		<button onclick = "numQuiz(4)" class = "button settingButton" style = "margin-left:100px;font-size:100px;"> 4 </button>
		<button onclick = "numQuiz(5)" class = "button settingButton" style = "margin-left:100px;font-size:100px;"> 5 </button>
	</div>

</div>
<!--<a id = "welcomeBack" href = "/welcome" class="button getBack"> Home </a>-->
{% if start == 'true' %}
<button onclick = "getBack()" class="button getBack"> BACK </button>
{% elif start == 'false' %}
<a href = '/welcome' class="button getBack"> BACK </a>
{% endif %}

<button class = "button open-info" onclick = "openPopUp()">?</button>
<div class = "popup" id = "popup">
		<p> MODE A is more suited for neurotypical childern </p>
		<p> while MODE B is better for neurodivergent ones. </p>
		<p> You can change the color palette anytime you want </p>
		<p> But mode and number of question cannot be changed during the game </p>
		<p> Choose wisely! </p>
	<button class = "close-info" onclick = "closePopUp()">X</button>
</div>
<script>
var bckgrndColor = localStorage.getItem("background");
document.getElementsByTagName("body")[0].className = bckgrndColor;

var buttonColor = localStorage.getItem("button");
var button = document.getElementsByClassName("button");
document.getElementsByClassName("getBack")[0].classList.add(buttonColor);

if (localStorage.getItem('start') == 'false'){
Array.prototype.forEach.call(document.getElementsByClassName("settingButton"), function(el){el.classList.add(buttonColor);});
}
else{
Array.prototype.forEach.call(document.getElementsByClassName("settingButton"), function(el){el.style = 'background-color:'.concat('Gray');});
}

function changeColor(color){
		if (color == 'red'){
			document.getElementById('blueButton').disabled = false;
			localStorage.setItem("background","redClass");
			document.getElementsByTagName("body")[0].className = 'redClass';
			localStorage.setItem("button", 'redClassButton');
			if (localStorage.getItem('start') == 'false'){
			Array.prototype.forEach.call(document.getElementsByClassName("settingButton"), function(el){el.classList.remove('blueClassButton');});			
			Array.prototype.forEach.call(document.getElementsByClassName("settingButton"), function(el){el.classList.add('redClassButton');});}
			document.getElementsByClassName("getBack")[0].classList.remove('blueClassButton');
			document.getElementsByClassName("getBack")[0].classList.add('redClassButton');
			document.getElementById('redButton').disabled = true;}
			
		else{
			document.getElementById('redButton').disabled = false;
			localStorage.setItem("background","blueClass");
			document.getElementsByTagName("body")[0].className = 'blueClass';
			localStorage.setItem("button", 'blueClassButton');
			if(localStorage.getItem('start') == 'false'){
			Array.prototype.forEach.call(document.getElementsByClassName("settingButton"), function(el){el.classList.remove('redClassButton');});			
			Array.prototype.forEach.call(document.getElementsByClassName("settingButton"), function(el){el.classList.add('blueClassButton');});}
			document.getElementsByClassName("getBack")[0].classList.remove('redClassButton');
			document.getElementsByClassName("getBack")[0].classList.add('blueClassButton');
			document.getElementById('blueButton').disabled = true;}
		console.log(localStorage.getItem("background"));
	}

function changeMode(mode){
	if (localStorage.getItem('start') == 'false'){
		localStorage.setItem('mode', mode);
	}
	console.log(localStorage.getItem("mode"));
}

function numQuiz(num){ 
	if (localStorage.getItem('start') == 'false'){ localStorage.setItem("numQuiz", num); console.log('here');}
	console.log(localStorage.getItem("numQuiz"));
	console.log(localStorage.getItem('start'));
}

// GET BACK

function getBack(){
	window.history.back();
}

// POP UP

function openPopUp(){
	document.getElementById("popup").style.display = "block";
}

function closePopUp(){
	document.getElementById("popup").style.display = "none";
}

</script>
</body>
</html>
