<!DOCTYPE html>
<html>
<head>
<title> Emotion Game - HRI project </title>
<link rel = "stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel = "shortcut icon" href = "{{ url_for('static', filename='img/favicon.ico') }}">
</head>
<body>
	<div class = "video">
            <img id = "img" class = "videoImg" src="{{ url_for("video_feed") }}"/>
	</div>
	<div class = "rowSubmit">
	       <form action = '/solution' method = 'POST'>
			<input name = "uname" style="display:none;"></input>
 			<input name = "hands" style="display:none;" value = "true"></input>
			<input type = "submit" class="button" style = "border:none;" value = "SUBMIT" />
		</form>
	</div>
<button class = "button open-info" onclick = "openPopUp()">?</button>
<div class = "popup" id = "popup">
		<p> Sign with your fingers to correct answer </p>
		<p> 1) HAPPY 2 ) SAD 3) ANGER 4) FEAR </p>
		<p> The press SUBMIT to get your result! </p>
	<button class = "close-info" onclick = "closePopUp()">X</button>
</div>
</body>
<script>
var buttonColor = localStorage.getItem("button");
var button = document.getElementsByClassName("button");
Array.prototype.forEach.call(button, function(el){el.classList.add(buttonColor);});

if (buttonColor == "redClassButton"){document.getElementById('img').classList.add('redVideo')}
else{document.getElementById('img').classList.add('blueVideo')}

var bckgrndColor = localStorage.getItem("background");
document.getElementsByTagName("body")[0].className = bckgrndColor;

function openPopUp(){
	document.getElementById("popup").style.display = "block";
}

function closePopUp(){
	document.getElementById("popup").style.display = "none";
}
</script>
</html>
