<!DOCTYPE html>
<html>
<head>
<title> Emotion Game - HRI project </title>
<link rel = "stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel = "shortcut icon" href = "{{ url_for('static', filename='img/favicon.ico') }}">
<link href = "https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

<h2 class="text"> {{text}} </h2>
<div id = "keyboard_container">
	<input id = "name" class = "uname"></input>
	<div class = "row1">
	<button class = "button key" onclick = "Write('Q')"> Q </button>
	<button class = "button key" onclick = "Write('W')"> W </button>
	<button class = "button key" onclick = "Write('E')"> E </button>
	<button class = "button key" onclick = "Write('R')"> R </button>
	<button class = "button key" onclick = "Write('T')"> T </button>
	<button class = "button key" onclick = "Write('Y')"> Y </button>
	<button class = "button key" onclick = "Write('U')"> U </button>
	<button class = "button key" onclick = "Write('I')"> I </button>
	<button class = "button key" onclick = "Write('O')"> O </button>
	<button class = "button key" onclick = "Write('P')"> P </button>
	<button class = "button material-icons delete key" style="font-size:80px" onclick = "Write('-')">delete</button>
	</div>
	<div class = "row2">
	<button class = "button key" onclick = "Write('A')"> A </button>
	<button class = "button key" onclick = "Write('S')"> S </button>
	<button class = "button key" onclick = "Write('D')"> D </button>
	<button class = "button key" onclick = "Write('F')"> F </button>
	<button class = "button key" onclick = "Write('G')"> G </button>
	<button class = "button key" onclick = "Write('H')"> H </button>
	<button class = "button key" onclick = "Write('J')"> J </button>
	<button class = "button key" onclick = "Write('K')"> K </button>
	<button class = "button key" onclick = "Write('L')"> L </button>
	</div>
	<div class = "row3">
	<button class = "button key" onclick = "Write('Z')"> Z </button>
	<button class = "button key" onclick = "Write('X')"> X </button>
	<button class = "button key" onclick = "Write('C')"> C </button>
	<button class = "button key" onclick = "Write('V')"> V </button>
	<button class = "button key" onclick = "Write('B')"> B </button>
	<button class = "button key" onclick = "Write('N')"> N </button>
	<button class = "button key" onclick = "Write('M')"> M </button>
	<button id = "space" class = "button key" onclick = "Write(' ')"> SPACE </button>
	</div>
	<div class = row1>
	{% if quiz %}
		<form action = '/solution' method = 'POST'>
			<input name = "uname" style="display:none;"></input>
 			<input name = "hands" style="display:none;" value = "false"></input>
			<input type = "submit" class="button" style = "border:none;" value = "SUBMIT" />
		</form>
	{% else %}
		<form action = '/inst' method = "POST" >
		<input name = "uname" style="display:none"></input>
		<input type = "submit" class="button" style = "width:500px" value = "CONTINUE" />	
		</form>
	{% endif %}
	</div>
</div>
	
</body>
<script>
var buttonColor = localStorage.getItem("button");
var button = document.getElementsByClassName("button");
Array.prototype.forEach.call(button, function(el){el.classList.add(buttonColor);});

var bckgrndColor = localStorage.getItem("background");
document.getElementsByTagName("body")[0].className = bckgrndColor;

document.getElementsByName("mode")[0].value = localStorage.getItem('mode');


function Write(letter){
	var value = document.getElementById("name").value;
	if (letter != '-'){document.getElementById("name").value = value.concat(letter);}
	else{document.getElementById("name").value = value.substring(0, value.length - 1);}
	Array.prototype.forEach.call(document.getElementsByName("uname"), function(el){el.value = document.getElementById("name").value;});
}
</script>
</html>
