<!DOCTYPE html>
<html>
<head>
<link rel = "stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<h2 class="text"> {{text}} </h2>

<div class = "row"> 
    {%if choice1_template%}
    <a href={{choice1_template}} class = "button button2">{{choice1}}</a>
    {%else%}
    <button class = "button button2">{{choice1}}</button>
    {% endif %}
    {% if  choice2_template%}
    <a href={{choice2_template}} class = "button button2">{{choice2}}</a>
    {% else %}
    <button class = "button button2">{{choice2}}</button>
    {% endif %}
    
</div>

</body>
</html>
